.footer {
    width: 100%;
    padding: 4rem 0.7rem;
    background-color: var(--foreground-color);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}



/* Bg style purpose */

.footer-container::after,
.footer-container::before {
    content: ' ';
    width: 10rem;
    height: 12rem;
    border-radius: 20rem;
    position: absolute;
    z-index: -1;
    filter: blur(190px);

}

.footer-container::before{
    background: #0e84a5;
    left: 5rem;
}

.footer-container::after{
    background: #f603f6;
    right: 5rem;
}

/* Bg style purpose */


.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.left p {
    font-size: 1rem;
    padding-bottom: 0.9rem;
}

.location {
    display: flex;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.social-icon {
    margin-top: 1.5rem;
}


.right h4 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.right p {
    text-align: justify;
    font-size: 1rem;
}

@media screen and (max-width:640px) {

    .footer-container {
        grid-template-columns: 1fr;
    }
    
}

 