@import "./components/loader.css";

.dark-theme {
  --background-color: #121922;
  --foreground-color: rgba(30, 41, 57, 0.506);
  --headingText-color: white;
  --normalText-color: rgba(255, 255, 255, 0.751);
  --hoverDiv-color: #2e003890;
  --hoverGlow-color: #980198ab;
  --secondary-color: #149eca;
  --secondaryHover-color: rgba(255, 255, 255, 0.2);
  --btn-color: #02678977;
  --backgroundOpacity-color: rgba(18, 25, 34, 0.735);
  --cardBoxShadow-color: #149cca00;
  --modern-color: rgba(115, 0, 173, 0.473);
}

.light-theme {
  --background-color: #e5f0ff;
  --foreground-color: #b3d1ff49;
  --headingText-color: rgb(0, 0, 0);
  --normalText-color: rgba(41, 41, 41, 0.751);
  --hoverDiv-color: #ffffff20;
  --hoverGlow-color: #4ebee346;
  --secondary-color: #149eca;
  --secondaryHover-color: rgba(101, 101, 101, 0.5);
  --btn-color: #02678950;
  --backgroundOpacity-color: rgba(112, 181, 223, 0.374);
  --cardBoxShadow-color: #348ca931;
  --modern-color: rgba(168, 168, 168, 0.352);
}
